<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSjUktz3RbbtcrKdqDgW0J5vG5OAdJVk8</string>
	<key>GCM_SENDER_ID</key>
	<string>313392960737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecomly.food.ecomlyFlutter</string>
	<key>PROJECT_ID</key>
	<string>ecomly-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomly-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313392960737:ios:cbfd38ce8447e07bdf53a0</string>
</dict>
</plist>